<h2>New author</h2>
<form action="/authors" method="POST">
<%- include('_form_fields') %> 

<a href="/authors">Cancel</a>
<!-- we use an ancre tag to link things and buttons to interact with forms -->

<button type="submit">Create</button>
</form>